.products_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

.title{
    text-transform: uppercase;
    font-weight: bold;
    margin: 12px;
    padding: 12px;
}