.checkout-item-container {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid #EE7D15;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name,
    .quantity,
    .price {
      width: 28%;
    }
  
    .quantity {
      display: flex;
  
      .arrow {
        cursor: pointer;
        font-size: 19px;
        background-color: #d4d2d0;
        width: 43px;
        text-align: center;
        border-radius: 18px;
      
      }
  
      .value {
        margin: 0 20px;
        font-size: 23px;
      }
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
      font-size: 30px;
      color: #EE7D15;
    }
  }

  @media screen and (max-width: 700px) {
    .checkout-item-container{
      width: 100%;
      height: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    .checkout-item-container .image-container{
      width: 35vw;
    }

    .image-container img{
      width: 80vw;
      object-fit: cover;
    }
    .price{
      align-items: center;
      text-align: center;
    }
    .remove-button{
      margin-top: 23px;
    }
  }
  